.first {
  background-color: yellowgreen;
}

.second {
  background-color: tomato;
}

.second, .first {
  text-align: justify;
  display: inline-block;
  font-size: 20px;
  width: 200px;
  height: 150px;
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
}
